.HighlightCardPanel {
    padding: 0 30px 0 30px;
}
.title {
    font-size: 24px;
    text-align: left;
    color: white;
}

@media only screen and (min-width: 992px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: -20px;
    }
}