.locationDisplay {
    background-color: #1e213a;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./Cloud-background_blue.png");
    background-repeat: repeat;
    background-attachment: local;
    background-size: auto;

}
.locationDisplay i {
    color: #e7e7eb;
    font-size: 24px;
    font-weight: 700;
    margin: 20px 10px 10px;
    align-self: flex-end;
}
.locationDisplay input {
    margin: 10px 10px;
    padding: 0 25px;
    width: 250px;
    height: 45px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid #e7e7eb;
    color: #e7e7eb;
}

.locationListItem {
    list-style: none;
}
.locationResult {
    display: block;
    text-decoration: none;
    color: #e7e7eb;
    font-family: "Raleway", "sans-serif";
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 20px;
    border: 1px solid transparent;
}

.locationResult:hover {
    border: 1px solid #e7e7eb;
}

.locationList {
    padding-left: 0;
}
.title{
    color: #e7e7eb;
    line-height: 2;
    margin: 30px 30px;
    font-size: 45px;
    font-weight: 400;
}

.text{
    color: #e7e7eb;
    margin-bottom: 10px;
}
.locationDisplay img {
    width: 50%;
    height: auto;
    margin: 40px 0;
}