.unit {
    font-size: 36px;
    line-height: 43px;
    font-style: normal;
    font-weight: 400;
}

.measurements {
    font-size: 64px;
    line-height: 76px;
    font-style: normal;
    font-weight: 700;
}

.summaryPanel{
    background-color: #61dafb;
    position: relative;
}

.unitButtons{
    position: absolute;
    top: 20px;
    right: 20px;
}


.locationButton{
    position: absolute;
    top: 20px;
    left: 20px;
}
